@import "tailwindcss";
@tailwind utilities;
@plugin "daisyui";

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@layer utilities {
	@keyframes bg-fade {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 0.9;
		}
	}

	@keyframes dot-pulse {
		0% {
			transform: scale(1);
		}
		100% {
			transform: scale(1.2);
		}
	}

	@keyframes slide-left {
		0% {
			transform: translateX(2rem);
		}
		100% {
			transform: translateX(-4rem);
		}
	}

	.animate-bg-fade {
		animation: bg-fade 2s ease-in-out infinite alternate;
	}

	.animate-dot-pulse {
		animation: dot-pulse 1s ease-in-out infinite alternate;
	}

	.animate-slide-left {
		animation: slide-left 1s ease-in-out infinite alternate;
	}

	.delay-0 {
		animation-delay: 0s;
	}
	.delay-100 {
		animation-delay: 0.1s;
	}
	.delay-200 {
		animation-delay: 0.2s;
	}
	.delay-300 {
		animation-delay: 0.3s;
	}

	.scrollbar-hidden::-webkit-scrollbar {
		display: none;
	  }
	  .scrollbar-hidden {
		-ms-overflow-style: none;
		scrollbar-width: none;
	  }
}

dialog::backdrop {
	animation: bg-fade 2s ease-in-out infinite alternate;
}

@keyframes bg-fade {
	from {
		opacity: 1;
	}
	to {
		opacity: 0.9;
	}
}

span::first-letter,
label::first-letter,
 p::first-letter,
 h1::first-letter,
 h2::first-letter,
 h3::first-letter,
 h4::first-letter,
 h5::first-letter,
 h6::first-letter,
 th::first-letter,
 td::first-letter {
	text-transform: uppercase;
}